.container {
  width: 960px;
}

.header {
  border-bottom: 1px solid #ddd;
  font-weight: 300;

  font-size: 17px;
  padding: 15px;
}


.logo-icon img {
  height: auto;
  width: auto;
  max-width: 40px;
  max-height: 40px
}

.header .menu {
  margin-top: 5px;
  display: inline;
  float: right;
  list-style: none;
}

.menu li {
  margin-left: 20px;
  margin-right: 20px;
  float: left;
}

.dropdown-menu {
  font-size: 16px;
  margin-top: 5px;
  min-width: 50px;
}

.dropdown-menu li a {
  color: #809fff;
  margin-top: 5px;
}

.intro {
  margin-top: 50px;
}

.intro-text {
  left: 15px;
  position: relative;
  font-family: Rockwell;
}

.intro-text p {
  color: grey;
  font-size: 20px;
}

.intro-text div p {
  color: black;
  font-style: italic;
  font-size: 18px;
}

.footer {
  margin-top: 30px;
  border-top: 1px solid #ddd;
}

.square div {
  position: relative;
	display: inline-block;
	height: 50px;
	width: 50px;
  border-radius: 30%;
  text-align: center;
  margin: 30px 0px 30px 40px;
}

.square div i {
	position: relative;
	margin-top: 7px;
  background-color: transparent;
  color: white;
}

.container div div img {
  max-width: 450px;
  max-height: 300px;
  border: 1px solid #ddd;
}

.row {
  margin-top: 40px;
}

#Instagram {
  margin-left: 370px;
  border: 3px solid #ff5050;
  background-color: black;
}

#Email {
  border: 3px solid #4db8ff;
  background-color: black;
}

#Github {
  border: 3px solid #009900;
  background-color: black;
}

#LinkedIn {
  border: 3px solid #0000ff;
  background-color: black;
}

#myself {
  float: left;
  height: auto;
  width: auto;
  max-width: 500px;
  max-height: 500px;
  border-radius: 3%;
}

#firstpic {
  height: 100%;
  width: 100%;
}

#pageTop {
  text-align: center;
}

#resumeHeader {
  margin-top: 20px;
  border-bottom: 1px solid #ddd;
  color: #343351;
  text-transform: uppercase;
}

#resumeTop h1 {
  font-size: 50px;
  font-weight: bold;
}

.fa-github-square{
    color: #27a339;
}
.heart {
  display: none;
  opacity: 0.25;
  color: #ff002a;
  font-size: 40px;
}
